* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* size */
.w-15vw {width:15vw;}
.w-20vw {width:20vw;}
.w-45vw {width:45vw;}
.w-60vw {width:60vw;}
.w-90vw {width:90vw;}
.h-35vh {height:35vh;}
.h-40vh {height:40vh;}
.p-1vw {padding: 1vw;}

/* color */
.bgc-D9 {background-color: #D9D9D9;}
.bgc-w {background-color: white;}
.color-g{color:grey}
.color-r{color: red;}

/* font */
.fs-2rem {font-size: 2rem;}

/* position */
.display-f{display: flex;}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-space-around{justify-content: space-around;}
.flex-column{flex-direction: column;}
